
h2 {
    text-align: center;
}

#left-pane {
    float: left;
    overflow: auto;
    border-right: 5px dashed black;
    display: grid;
    grid-template-rows: .2fr .8fr;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
    "results";
}

hr {
    width: 95%;
}

#search{
    grid-area: search;
}

#results{
    grid-area: results;
}

#directions{
    white-space: pre-wrap;
}

#recipes-body{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: "recipeName" "recipeInfo";
}

#recipeName{
    grid-area: recipeName;
}

.recipeInfo{
    grid-area: recipeInfo;
    display: grid;
    grid-template-rows: .1fr .1fr .3fr .4fr .1fr;
    grid-template-areas: "servings"
    "cooking_time"
    "ingredients"
    "directions"
    "buttons"
}

#servings{
    grid-area: servings;
}

#cooking_time{
    grid-area: cooking_time;
}

#ingredients{
    grid-area: ingredients
}

#directions{
    grid-area: directions;
}

#buttons{
    grid-area: buttons;
}