
h2 {
    text-align: center;
}

#left-pane {
    float: left;
    overflow: auto;
    border-right: 5px dashed black;
    display: grid;
    grid-template-rows: .2fr .8fr;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
    "results";
}

hr {
    width: 95%;
}

#search{
    grid-area: search;
}

#results{
    grid-area: results;
}

/* .recipeNames > button > svg {
    position: relative;
    right: -15px;
} */

