html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: .2fr .8fr;
    grid-template-areas: "left-pane recipes"
}

#left-pane{
    grid-area: left-pane;
}

#recipes-body{
    grid-area: recipes;
}