#left-pane {
    height: 100%;
    border-right: 5px double black; 
    display: grid;
    grid-template-areas: "search"
    "results"
    "addBtn";
}

#search {
    background-color: #2F3233;
    grid-area: search;
}

#results{
    grid-area: results;
}

#addDiv{
    grid-area: addBtn;
    position: relative; 
}

.recipeBtn{
    margin-top: 5px;
    white-space: normal;
    text-overflow: ellipsis;
    border: solid 1px #960015;
    background-color: #2F3233;
    color: #B4BD89;
}

.recipeBtn > p {
    display: inline;
}

#dishText{
    overflow: hidden;
}

.addBtn, .homeCancel{
    position: relative;
    font-size: 1em;
}

.searchInput {
    color: black;
}



@media only screen and (max-width: 768px) {
#left-pane{
    grid-template-rows: 10% 85% 5%;
}

#addDiv{
    width: 100%;
}

.recipeBtn{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 5px;
}

.addBtn, .homeCancel{
    height: 100%;
    width: 50%;
}

}


/* 



 */

/* @media only screen and (min-width: 500px){
    #left-pane {
        grid-template-rows: 80px 390px 30px;
    }

    .addBtn {
        height: 30px;
        width: 35%;
        right: 0;
    }

    .homeCancel {
        height: 30px;
        width: 35%;
    }

    .recipeNames {
        position: relative;
        margin-top: 10px;
    }

    .recipeBtn{
        position: relative;
        height: 50px;
        width: 80%;
        left: 20px;
    }

    .searchInput{
        width: 100%;
    }

}

@media only screen and (min-width: 800px) {
    #left-pane {
        grid-template-rows: 100px 420px 30px;
    }

    .addBtn {
        height: 30px;
        width: 35%;
        right: 0;
    }

    .homeCancel {
        height: 30px;
        width: 35%;
    }

    .recipeNames {
        position: relative;
        margin-top: 10px;
    }

    .recipeBtn{
        position: relative;
        height: 50px;
        width: 80%;
        left: 20px;
    }

    .searchInput{
        width: 95%;
    }
}

@media only screen and (min-width: 1080px){
    #left-pane {
        grid-template-rows: 100px 420px 30px;
    }

    .addBtn {
        height: 30px;
        width: 35%;
        right: 0;
    }

    .homeCancel {
        height: 30px;
        width: 35%;
    }

    .recipeNames {
        position: relative;
        margin-top: 10px;
    }

    .recipeBtn{
        position: relative;
        height: 50px;
        width: 80%;
        left: 20px;
    }

    .searchInput{
        width: 95%;
    }

} */