#directions, #ingredients{
    white-space: pre-wrap;
}

#recipes-body{
    display: grid;
    grid-template-areas: "recipeName" "recipeInfo" "recipeOutput";
}

#recipeName{
    grid-area: recipeName;
    background-color: #2F3233;
}

.recipeInfo{
    overflow: auto;
    grid-area: recipeInfo;
    display: grid;
    grid-template-areas: "servings"
    "cooking_time"
    "ingredients"
    "directions"
}

.recipeOutput{
    grid-area: recipeOutput;
}

.label {
    font-family: 'Courgette', cursive;
    color: #960015;
}

.value{
     display: inline-block;
}
#servings{
    grid-area: servings;
    display: grid;
    grid-template-areas: "label value" 
}


.servings{
    grid-area: label;
}

.sevingsValue{
    grid-area: value;
}

#cooking_time{
    grid-area: cooking_time;
/*     display: grid;
    grid-template-areas: "cooking ctValue"  */
}

#ingredients{
    grid-area: ingredients;
/*     display: grid;
    grid-template-areas: "ingreds ingredsValue"  */
}

#directions{
    grid-area: directions;
/*     display: grid;
    grid-template-areas: "direct directValue"  */
}

#buttons{
    display: grid;
    grid-template-areas: "direct directValue" 
}

#search > span {
    text-align: center;
}

#results{
    overflow-y: auto;
    overflow-x: hidden;
}

#edit, #remove {
    font-size: 1em;
}


@media only screen and (max-width: 768px) {
#recipes-body{
    grid-template-rows: 10% 85% 5%;
}


.recipeInfo{
    grid-template-rows: 5% 5% auto auto;
}

.label{
    font-size: 3.5vw;
    padding-left: 5px;
}

.value{
    font-size: 1em;
    padding-left: 20px;
}

#servings{
    padding-top: 5px;
    grid-template-columns: 20% 80%;
}

.recipeOutput{
    margin-top: 10px;
}



}

/* 


.cooking{
    grid-area: cooking
}

.ctValue{
    grid-area: ctValue
}



.ingredients{
    grid-area: ingreds
}

.ingredsValue{
    grid-area: ingredsValue
}



.directions{
    grid-area: direct
}

.directValue{
    grid-area: directValue
}

#buttons{

}

#search{
    position: relative;
}

#search > button {
    position: absolute;
    right: 0;
}


 */
/* @media only screen and (min-width: 769px) {
    #recipes-body{
        grid-template-rows: 80px 390px 30px;
    }
    
    .recipeInfo{
        grid-template-rows: 60px 60px auto auto;
    }
    
    #servings{
        padding-top: 10px;
        grid-template-columns: 20% 80%;
    }
    
    #cooking_time{
        grid-template-columns: 20% 80%;
    }
    
    #ingredients{
        grid-template-columns: 20% 80%;
    }
    
    #directions{
        grid-template-columns: 20% 80%;
    }

    #buttons{
        grid-template-columns: 50% 50%;
    }

    .label{
        padding-left: 10px;
        font-size: 1.2em;
    }

    .value{
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media only screen and (min-width: 800px) {
    #recipes-body{
        grid-template-rows: 100px 420px 30px;
    }
    
    .recipeInfo{
        grid-template-rows: 60px 60px auto auto;
    }
    
    #servings{
        padding-top: 10px;
        grid-template-columns: 20% 80%;
    }
    
    #cooking_time{
        grid-template-columns: 20% 80%;
    }
    
    #ingredients{
        grid-template-columns: 20% 80%;
    }
    
    #directions{
        grid-template-columns: 20% 80%;
    }

    #buttons{
        grid-template-columns: 50% 50%;
    }

    .label{
        padding-left: 10px;
        font-size: 1.2em;
    }

    .value{
        padding-left: 30px;
        padding-right: 30px;
        
    }
}

@media only screen and (min-width: 1080px ){
    body{
        background-color:red;
    }
    #recipes-body{
        grid-template-rows: 100px 420px 30px;
    }
    
    .recipeInfo{
        grid-template-rows: 60px 60px auto auto;
    }
    
    #servings{
        padding-top: 10px;
        grid-template-columns: 20% 80%;
    }
    
    #cooking_time{
        grid-template-columns: 20% 80%;
    }
    
    #ingredients{
        grid-template-columns: 20% 80%;
    }
    
    #directions{
        grid-template-columns: 20% 80%;
    }

    #buttons{
        grid-template-columns: 50% 50%;
    }

    .label{
        padding-left: 10px;
        font-size: 1.2em;
    }

    .value{
        padding-left: 30px;
        padding-right: 30px;
        
    }

} */