#directions, #ingredients{
    white-space: pre-wrap;
}

#recipes-body{
    display: grid;
    grid-template-areas: "recipeName" "recipeInfo";
}

#recipeName{
    grid-area: recipeName;
}

.recipeInfo{
    grid-area: recipeInfo;
    display: grid;
    grid-template-areas: "servings"
    "cooking_time"
    "ingredients"
    "directions"
    "buttons";
}

#servings{
    grid-area: servings;
    display: grid;
    grid-template-areas: "label value" 
}

.servings{
    grid-area: label;
}

.sevingsValue{
    grid-area: value;
}

#cooking_time{
    grid-area: cooking_time;
    display: grid;
    grid-template-areas: "cooking ctValue" 
}

.cooking{
    grid-area: cooking
}

.ctValue{
    grid-area: ctValue
}

#ingredients{
    grid-area: ingredients;
    display: grid;
    grid-template-areas: "ingreds ingredsValue" 
}

.ingredients{
    grid-area: ingreds
}

.ingredsValue{
    grid-area: ingredsValue
}

#directions{
    grid-area: directions;
    display: grid;
    grid-template-areas: "direct directValue" 
}

.directions{
    grid-area: direct
}

.directValue{
    grid-area: directValue
}

#buttons{
    grid-area: buttons;
    display: grid;
    grid-template-areas: "direct directValue" 
}

@media only screen and (min-height: 600px) {
    body{
        background-color: blue;
    }
    #recipes-body{
        grid-template-rows: 100px 400px;
    }
    
    .recipeInfo{
        grid-template-rows: 50px 50px 135px 135px 30px;
    }
    
    #servings{
        grid-template-columns: 20% 80%;
    }
    
    #cooking_time{
        grid-template-columns: 20% 80%;
    }
    
    #ingredients{
        grid-template-columns: 20% 80%;
    }
    
    #directions{
        grid-template-columns: 20% 80%;
    }

    #buttons{
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (min-height: 1080px ){
    body{
        background-color:red;
    }
    #recipes-body{
        grid-template-rows: 100px 500px;
    }
    
    .recipeInfo{
        grid-template-rows: 80px 80px 195px 195px 50px;
    }
    
    #servings{
        grid-template-columns: 20% 80%;
    }
    
    #cooking_time{
        grid-template-columns: 20% 80%;
    }
    
    #ingredients{
        grid-template-columns: 20% 80%;
    }
    
    #directions{
        grid-template-columns: 20% 80%;
    }

    #buttons{
        grid-template-columns: 50% 50%;
    }

}